@media screen and (max-width:767px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: blueviolet;
    }

    .aside {
        display: none;
    }

    .grid {
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    .main,
    header,
        {
        width: 100vw;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: rgb(226, 43, 73);
    }
}